<ion-header>
  <ion-toolbar>
    <ion-title>
      Temperatura
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
     
    <ion-card-header>
      <ion-card-subtitle>Temperatura</ion-card-subtitle>
      <ion-card-title>Faça a conversão de fahrenheit para celsius</ion-card-title>
      <img src="/assets/Imagens/temp.jpg" alt="" />
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="openModal()" expand="full" color="primary">
        Calcular
      </ion-button>
    </ion-card-content>
  </ion-card>
<ion-content></ion-content>
